<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienes Raíces</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <header class="encabezado">
        <a href="{% url 'inicio' %}"><img src="{% static 'img/index/logo.png' %}" alt="Logo" class="logotipo"></a>
        <nav class="menu_selectivo">
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'propiedades' %}">Propiedades</a>
            <a href="#">Contacto</a>
        </nav>
    </header>

    <section class="intermedio">
        {% block intermedio %}

        {% endblock %}
    </section>

    <main class="contenedor_general">
        <div class="contenedor_propiedades">
            {% for propiedad in propiedades %}
            <div class="card" style="width: 18rem;">
                <img src="{{ propiedad.imagen.url }}" class="card-img-top" alt="Imagen de {{ propiedad.operacion }}">
                <div class="card-body">
                    <h4 class="card-title">Tipo de operación: {{ propiedad.operacion }}</h4>
                    <h5 class="card-title">Tipo: {{ propiedad.tipo }}</h5>
                    <p class="card-text">Ubicación: {{ propiedad.ubicacion }}</p>
                    <p class="card-text">Descripción: {{ propiedad.descripcion }}</p>
                    <p class="card-text">Precio: ${{ propiedad.precio }}</p>
                    <a href="{% url 'detallesprop' propiedad.codigo %}" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        <div class="footer">
            <img src="{% static 'img/index/ig.png' %}" alt="Instagram">
            <img src="{% static 'img/index/facebook.png' %}" alt="Facebook">
            <img src="{% static 'img/index/whatsapp.png' %}" alt="WhatsApp">
            <img src="{% static 'img/index/gorjeo.png' %}" alt="Twitter">
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
